VITE_API_URL=https://api.themoviedb.org/3
VITE_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzYjU0YWFjMzg4OTAzYjY2ZWY2ZmIwM2RhMzQzNzVmZCIsIm5iZiI6MTYyMTA3NjgwMS45ODEsInN1YiI6IjYwOWZhYjQxZTE4ZTNmMDA0MDUzYWQyMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DaRGXIJr_nD6GdmaytAWaI0Q-fZRPeNfTdDFZ_FkGhU