lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

dist
pids
logs
results
tmp


public/css/main.css


coverage


.env


node_modules
bower_components


.idea
*.iml


.DS_Store
Thumbs.db


dist/**/*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
