.container {
  max-width: $container-lg;
  background-color: red;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 0 2rem;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $container-xl;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: $container-2xl;
  }
}
